doctype html
head
  link(rel='stylesheet' type='text/css' href='/static/css/main.css')
  meta(charset='UTF-8')
  title 404 ERROR

h1 404 ERROR
br
p Page not found.
br
img(src='../images/flower.png' alt='Flower Image')