doctype html
head
  link(rel='stylesheet' type='text/css' href='/static/css/main.css')
  meta(charset='UTF-8')
  title ~ account successfully created ~

h1 ~ account successfully created ~
img(src='../images/flower.png' alt='Flower Image')
include nav.pug